/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

/* Header Section */
header {
    background-color: #000000;
    color: #FFFFFF;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #B22222;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.poppy-icon {
    width: 40px;
    height: auto;
    margin-right: 15px;
    margin-left: 15px;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding: 10px 25px;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #B22222;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

.active {
    border-bottom: 3px solid #B22222;
    height: 3px;
    padding-bottom: 13px;
    pointer-events: none;
}